.banner {
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: white;
  height: 70vh;
  display: flex;
  align-items: center;
}

.banner h1 {
  font-size: 3em;
}


.banner p {
  font-size: 1.3em;
  font-weight: lighter;
}
